<form
    [formGroup]="form"
>
    <label> Nazwa</label>
    <input
        formControlName="name"
        type="text"
    >
    <p *ngIf="form.get('name').hasError('minlength')">Nazwa musi mieć minimum 5 znaków</p>
    <label> Hasło </label>
    <input
        formControlName="password"
        type="password"
        (input)="calculatePasswordEntropy()"
    >
    <div>{{entropy > 4 ? 'Hasło dobre' : entropy > 3.3 ? 'Hasło średnie' : 'Hasło słabe'}}</div>
    <p *ngIf="form.get('password').hasError('pattern')">Hasło musi zawierać co najmniej jedną małą i wielką literę, cyfrę i znak specjalny</p>
    <p *ngIf="form.get('password').hasError('minlength')">Hasło musi mieć minimum 8 znaków</p>
    <label> Powtórz hasło </label>
    <input
        formControlName="repeatedPassword"
        type="password"
    >
    <button [disabled]="!form.valid" class="btn btn-primary" (click)="register()">
        Zarejestruj
    </button>
    <div class="centered" *ngIf="photoBase64 != ''">
        <h2>Zeskanuj ten kod qr w aplikacji authenticator.</h2>
        <img
            [src]="'data:image/jpg;base64,'+photoBase64"
        />
        <br>
        <a href="auth/login">
            Przejdź do logowania
        </a>
    </div>
    <a *ngIf="photoBase64 == ''" href="auth/login">
        Masz już konto? Zaloguj się!
    </a>
</form>